@model IEnumerable<AcademicManagement.Models.Category>
@{
    ViewData["Title"] = "Categories Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="margin-horizontal">
    <a class="link-secondary bold h4" asp-action="Index" asp-controller="Trainers">Trainer</a>
    <a class="link-secondary bold margin-left h4" asp-action="Index" asp-controller="Trainees">Trainee</a>
    <a class="link-primary bold margin-left h4" asp-action="Index" asp-controller="Courses">Course</a>
</div>

<div class="margin-horizontal">
    <a class="link-secondary bold h5" asp-action="Index" asp-controller="Topics">Topics</a>
    <a class="link-primary bold margin-left h5" asp-action="Index" asp-controller="Categories">Categories</a>
</div>

<h1>Index category</h1>

<div class="search_add">
    <a class="link-primary pointer pointer"
       data-bs-toggle="modal"
       data-bs-target="#createNewCategory">
        Create new Category
    </a>
    <form class="d-flex" method="get" asp-action="Index" asp-controller="Categories">
        <input class="form-control me-2" type="search" name="name" placeholder="Search" aria-label="Search">
        <input class="btn btn-outline-success" type="submit" />
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="createNewCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Create new category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-action="Index" asp-controller="Categories">
                <div class="modal-body row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" name="Name" class="form-control pl-4" id="floatingInput">
                            <label for="floatingInput" class="ml-5">Category Name</label>
                        </div>
                    </div>

                    <div class="">
                        <div class="form-floating mb-3">
                            <input type="text" name="Description" class="form-control pl-4" id="floatingInput">
                            <label for="floatingInput" class="ml-5">Description</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Create" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>