@using System.Dynamic;
@model dynamic;

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Staff</h4>
<hr />
<div class="card">
    <div class="card-body">
        <form method="post" asp-action="Edit" asp-controller="Topics">
            <div class="modal-body row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" name="Name" value="@Model.Topic.Name" class="form-control pl-4" id="floatingInput">
                        <label for="floatingInput" class="ml-5">Full name</label>
                    </div>
                </div>
                <div class="">
                    <div class="form-floating mb-3">
                        <select class="form-select" name="trainerId" id="floatingSelectGrid" aria-label="Floating label select example">
                            @foreach (Trainer trainer in Model.Trainers)
                            {
                                @if (Model.Topic.Trainer.Id == trainer.Id)
                                {
                                    <option value="@trainer.Id" selected>@trainer.Name</option>
                                }
                                else
                                {
                                    <option value="@trainer.Id">@trainer.Name</option>
                                }
                            }
                        </select>
                        <label for="floatingSelectGrid">Trainer</label>
                    </div>
                </div>
                <div class="">
                    <div class="form-floating mb-3">
                        <select class="form-select" name="courseId" id="floatingSelectGrid" aria-label="Floating label select example">
                            @foreach (Course course in Model.Courses)
                            {
                                @if (Model.Topic.Course.Id == course.Id)
                                {
                                    <option value="@course.Id" selected>@course.Name</option>
                                }
                                else
                                {
                                    <option value="@course.Id">@course.Name</option>
                                }
                            }
                        </select>
                        <label for="floatingSelectGrid">Course</label>
                    </div>
                </div>
                <div class="">
                    <div class="form-floating mb-3">
                        <input type="text" name="Description" value="@Model.Topic.Description" class="form-control pl-4" id="floatingInput">
                        <label for="floatingInput" class="ml-5">Description</label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a asp-action="Index" class="btn btn-secondary">Back to list</a>
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
